<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawler task</title>
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/task.css' %}"/>
</head>
<body>
<header>
    <span>URL:</span>
    <span class="url_value"><a href="#" id="main_url">url</a></span>
</header>

<div class="loader">
    <h2 class="animate">Loading</h2>
</div>

<main class="loader-background">
    <ul class="links_list">
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
        <li>Take home part should not be a “production ready” solution</li>
        <li>however we encourage you to write a clean and readable,</li>
        <li>code like you would do in real life.</li>
    </ul>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/task.js' %}"></script>
</body>
</html>