<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crawler task</title>
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/task.css' %}"/>
</head>
<body>
<header>
    <span>URL:</span>
    <span><a href="http://leemur.ru" id="main_url">http://leemur.ru</a></span>
</header>

<div class="loader">
    <h2 class="animate">Loading</h2>
</div>

<main class="loader-background">
    <ul class="links_list">
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet Lorem ipsum dolor sit amet
            consecutor adipiscingLorem ipsum dolor sit amet
        </li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet consecutor</li>
        <li>Lorem dolor amet sit</li>
        <li>Lorem ipsum dolor sit amet consecutor adipiscingLorem ipsum dolor sit amet</li>
    </ul>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'js/task.js' %}"></script>
</body>
</html>